
## <summary>policy for eurodollar</summary>


########################################
## <summary>
##	Transition to eurodollar.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`eurodollar_domtrans',`
	gen_require(`
		type eurodollar_t, eurodollar_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, eurodollar_exec_t, eurodollar_t)
')


########################################
## <summary>
##	Execute eurodollar server in the eurodollar domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eurodollar_initrc_domtrans',`
	gen_require(`
		type eurodollar_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, eurodollar_initrc_exec_t)
')


########################################
## <summary>
##	Search eurodollar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eurodollar_search_lib',`
	gen_require(`
		type eurodollar_var_lib_t;
	')

	allow $1 eurodollar_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read eurodollar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eurodollar_read_lib_files',`
	gen_require(`
		type eurodollar_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, eurodollar_var_lib_t, eurodollar_var_lib_t)
')

########################################
## <summary>
##	Manage eurodollar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eurodollar_manage_lib_files',`
	gen_require(`
		type eurodollar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, eurodollar_var_lib_t, eurodollar_var_lib_t)
')

########################################
## <summary>
##	Manage eurodollar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eurodollar_manage_lib_dirs',`
	gen_require(`
		type eurodollar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, eurodollar_var_lib_t, eurodollar_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a eurodollar environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`eurodollar_admin',`
	gen_require(`
		type eurodollar_t;
		type eurodollar_initrc_exec_t;
		type eurodollar_var_lib_t;
	')

	allow $1 eurodollar_t:process { ptrace signal_perms };
	ps_process_pattern($1, eurodollar_t)

	eurodollar_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 eurodollar_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, eurodollar_var_lib_t)

')

